<h4 class="text-center">Refine Filter</h4>
<div class="d-flex justify-content-end rptpanel-title">
	<a id="addRefineFilter" href="javascript:void(0);" class="btn btn-primary btn-sm redbtn eq-btn queryLink">Add Criteria</a>
	<a id="deleteRefineFilterRow" href="javascript:void(0);" class="btn btn-primary btn-sm blackbtn eq-btn queryLink disabledObj">Delete Criteria</a>
</div>
<div id="scrollRefine" class="scroll-refine">
	<ul id="refinefilterListContainer" class="list-unstyled">
		<!-- initialRefineFilterList will render here -->
	</ul>
</div>