<li class="row no-gutters">
    <!-- <div class="col-xs-12 col-sm-12 no-padding"> -->
        <div class="col-sm-1 text-center">
            <span class="sr-no">1</span>
        </div>
        <div class="col-sm-9">
			<div class="row">
				<div class="col-sm-12 col-md-4">
					<div class="form-group">					
						<select class="form-control select-control mdFields">
							<!-- #metadataFieldOptTemplate will render here -->
						</select>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="form-group">
						<select class="form-control select-control fieldOps">
							<!-- #fieldOpeTemplate will render here -->
							<option value="Select">Select</option>
						</select>
					</div>
				</div>
				<div class="col-sm-12 col-md-4">
					<div class="form-group">
						<input id="queryv1" type="text" class="form-control queryVal" placeholder="Query Name"/>
					</div>
				</div>
			</div>
        </div>
        <div class="col-sm-2 d-flex justiy-content-center">
            <div id="pick1" style="display:none;" class="picklistSelect">
                <a href="javascript:void(0)" class="queryLink pull-left">
                    <i class="fa external-icon fa-external-link" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    <!-- </div> -->
</li>