<div  class="col-12 col-sm-12 col-md-12 plotreport-wrapper no-padding">
    <div id="advSCustomObjs" class="searchform-wrapper">
        <!-- #advSCustObjTemplate will render here -->
    </div>
    <div class="row m-0 align-items-center advsearch-outer-wrapper">
        <div class="col-9 adv-search-container">
            <i id="advSearchButton" class="fa fa-search icon-search"></i>
            <input class="form-control list-search-input" id="advSearchText" placeholder="Search" type="text">
        </div>
        <div class="col-3 results-info">
			<p class="mb-0"><span id="dpCountSrch"> 0 </span> Results</p>
        </div>
    </div>
    <div id="advSearchResult" class="srchTableWrapper">
        <div class="no-dataSearchWrapper">
            <p>Please select data points and type a keyword to search.</p>
        </div>
        <!-- #advSearchResultTemplate will render here -->                
    </div>
</div>